/* Estrellas de valoración */
/* .contenedor-star {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 50px;
}

.imgStar {
    width: 50px;
    height: 50px;
} */
/* Fin estrellas de valoración */


/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

/* Cabecera */
.container-cabecera {
    background-color: rgb(57,129,250);
    padding: 1.5rem;
}

.txt-encabezado {
    color: rgb(255, 255, 255);
}


.slider {
    margin-top: 0.10rem;
    background-size: cover;
    background-position: center;
}
/* Fin cabecera */


/* Barra navegación versión NO móvil */
.nav-fixed{position:fixed;}

/* .container-navEscritorio {
    background-color: rgb(57,129,250);
   display: flex;
    align-items: center;
    height: 5rem;
    margin-top: 0.05rem;  
} */

/* .container-nav-enlaces {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 20rem;  
} */

.nav-enlaces {
    color: rgb(146,146,148);

}

.nav-enlaces:hover {
    color:rgb(38,38,38);
}


/* Menu superior de productos */
.centrar-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-superior {
    margin-top: -6rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.menu-superior:hover {
    cursor: pointer;
}
/* Menu superior de productos */



/*contenido productos*/
.contenedor-productos {
    margin: 0;
    display: flex;
}

.fondo{
    display: flex;
    flex-direction: row;
}

.row {
    /* margin: 0; */
}

.compra {
    height: 5rem;
}

.desglose{
    padding: 0;
    display: flex;
    height:60rem;
}

#oculto{
    visibility: hidden;
}

/* .over{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.1);
}
 */



/* Card producto */
.txt-seccion-productos {
    margin-top: 5rem;
    font-size: 6vw;
}
.container-producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.contenedor-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedorMarca {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(146,146,148);
    font-size: 1.7rem;
    height: 2.2rem;
}

.contenedorProcesador {
    display: flex;
    justify-content: center;
    color: rgb(146,146,148);
    flex-wrap: wrap;
    font-size: 1.1rem;
    height: 2rem;
}  

.marca {
    margin-right: 0.5rem;
}

.precio {
    display: flex;
    justify-content: center;
    color: rgb(68, 68, 73);
    font-size: 2rem;
    height: 1.4rem;
}
/* Fin card producto */


/* Newsletter */
.container-newsletter {
    display: flex;
    margin-top: 5rem;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(57,129,250);
    height: 10rem;
}

.txt-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-newsletter {
    display: flex;
    justify-content: center;
}

.input-newsletter {
    border-style: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(57,129,250);
    width: 25rem;
}

.btn-newsletter {
    border-style: none;
    background-color: rgb(38,38,38);
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin-left: 0.5rem;
}
/* Fin newsletter */


/* Footer */
.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38,38,38);
    color: rgb(255, 255, 255);
    height: 3rem;
}
/* Fin footer */


/*Estrellas valoración*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: initial;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

/*Fin estrellas valoración*/


/*********************************************/
/*********************************************/
            /* PÁGINA BLOG */
/*********************************************/
/*********************************************/

/* Cards entradas de blog */
.card-entrada {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
    align-items: center;

}

.card-entrada:hover, .container-producto:hover{
    border: 1px solid rgb(146,146,148);
    box-shadow: 3px 3px 5px 6px rgb(146,146,148);
    cursor: pointer;
}  
/* Fin cards entradas de blog */


.txt-seccion-entrada {
    margin-top: 5rem;
    font-size: 6vw;
}

.linea-entrada {
    height: 0.15rem;
    width: 10rem;
    background-color: rgb(57,129,250);
}

.info-entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-entrada {
    font-size: xx-large;
}

.fecha-entrada {
    color: rgb(57,129,250);
}

.descripcion-entrada {
    text-align: justify;
}

.enlace-entrada {
    color: rgb(141, 43, 18);
}



/*********************************************/
/*********************************************/
            /* PÁGINA CONTACTO */
/*********************************************/
/*********************************************/

/* Formulario */
.titulo-form {
    color: rgb(255, 255, 255);
}

.container-form {
    display: flex;
    justify-content: center;
}
.formulario-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    background-color: rgb(38,38,38);
    padding: 4rem;
}

.fname {
    height: 4rem;
}

.flastname {
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.femail {
    height: 4rem;
}

.fcom {
    height: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-enviar {
    height: 4rem;
}

.btn-enviar:hover {
    color: rgb(57,129,250);
}

/* Fin formulario */


/*********************************************/
/*********************************************/
            /* PÁGINA LOGIN */
/*********************************************/
/*********************************************/
.formulario {
    height: 25rem;
    padding-top: 12rem;
    padding-bottom: 25rem;
}
.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form input.form-control {
    margin: 10px 0px;
}

.img-login {
    width: 12rem;
    
}



