/* Estrellas de valoración */
.contenedor-star {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 50px;
}

.imgStar {
    width: 50px;
    height: 50px;
}
/* Fin estrellas de valoración */


/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

/* Cabecera */
.container-cabecera {
    background-color: rgb(57,129,250);
    padding: 1.5rem;
}

.txt-encabezado {
    color: rgb(255, 255, 255);
}

.slider {
    margin-top: 0.10rem;
    background-size: cover;
    background-position: center;
}
/* Fin cabecera */

/* .padding-rf {
    padding-right:0px !important;
}

.padding-lf{
    padding-left:0.10rem !important;
} */


/* Card producto */
.container-producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.contenedor-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedorMarca {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(146,146,148);
    font-size: 1.7rem;
    height: 2.2rem;
}

.contenedorProcesador {
    display: flex;
    justify-content: center;
    color: rgb(146,146,148);
    flex-wrap: wrap;
    font-size: 1.1rem;
    height: 2rem;
}  

.marca {
    margin-right: 0.5rem;
}

.precio {
    display: flex;
    justify-content: center;
    color: rgb(68, 68, 73);
    font-size: 2rem;
    height: 1.4rem;
}
/* Fin card producto */





